<nav class="navbar navbar-dark bg-secondary">
<span class="navbar-brand pull-left"><a href="{{url_for('index')}}"><h1>VetList</h1></a></span> 
<span></span>
<a class="navbar-brand pull-left" href="{{url_for('register_page')}}">Register</a>
<a class="navbar-brand pull-left" href="{{url_for('listings_page')}}">Postings</a>
<a class="navbar-brand pull-left" href="#">Account</a>
<a class="navbar-brand pull-left" href="{{url_for('login_post')}}">Login</a>
<span></span>
<span></span>
<span></span>



  </nav>
