{%extends "index.html"%}
{%block page_content%}
        {%if 'uid' in session%}
        <h3 class="display-5">Welcome, {{session['username']}}</h3>
        {%else%}
        <h3 class ="display-5"> Welcome</h3>
        {%endif%}
     
    <hr>
    <div class="container">
       <ul class = "list-group">
            {%for listing in listings%}
            <li class="list-group-item">{{listing[0]}}
            <small>{{listing[1]}}</small>
            </li>
            {%endfor%}
        </ul>
    </div>
{%endblock%}
